/*---------font--------
---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*------- common styles---------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    background: #2D25A0;
    height: 677px;
    width: 1440px;
    margin-bottom: 70px;
}
header:hover img{
    transform: rotate(60deg);
    transition: transform  1s .1;
}

/*-------- navigation styles -------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    margin-left: 90px;
}

nav ul li{
    list-style: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 36px;
}

.login span{
    margin-right: 184px;
    margin-top: 42px;
}

.fa-sign-in-alt{
    margin-right: 10px;
}

/*--------- top banner styles ------------ */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.top-banner-info{
    margin-left: 156px;
}
.top-banner h1{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;

}
span{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
}
.top-banner img{
    width: 556.01px;
    height: 438px;
    margin-right: 141px;
}

/* --------- main section styles ----- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
 

   /*----------- top players styles-----------  */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    height: 474px;
    width: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;

}

.player-image img{
    width: 330px;
}

.player-name{
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
}

.player-info{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
}

/* -----------highlights styles-----------  */

.highlights-container{
    margin-top: 165px;
    margin-bottom: 125px;
    

}

.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 69px;
}

.highlights-detail{
    height: 427px;
    width: 466px;
    padding-left: 40px;
}
.highlights-title{
    font-size: 38px;
    font-weight: 700;
}

.highlights-info{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
    color: #6C6C6C;
}
.fa-arrow-right{
    padding-left: 5px;
}
    
    

.highlights-detail span{
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
   
}

.highlights img{
    height: 427px;
    width: 567px;
}
hr{
    width: 1120px;
    
}

/*--------------- fifa containers styles---------------  */

.fifa-container h2{
    color: lightsalmon;
}

.section-heading{
    text-align: center;
}
.fifa-partners{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 400px;
    grid-row-gap: 60px;
}

/* ---------------------------------------
        favourite players styles
----------------------------------------  */
.favourite-player-container{
    margin-top: 75px;
    margin-bottom: 75px;
}

.favourite-player-container h1{
    color: hotpink;
}
.favourite-player-container .player img{
    height: 474px;
    width: 330px;

}

.section-title{
    text-align: center;
}

button{
    font-size: 18px;
    font-weight: 400;
    color: pink;
    background-color: #E02C6D;
    padding: 10px 25px;
    border: 1px solid gray;
    border-radius: 8px;
}

.player p{
    text-align: center;
}
button:hover{
    cursor: pointer;
}

/* -------------------footer styles---------------  */
footer{
    margin-top: 50px;
}

.footer-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.footer-image img{
    width: 483.87px;
}


.social-icon i{
    width: 32px;
    margin-left: 14px;
    color: #6C6C6C;
    
}

.copy-symbol{
    font-size: 18px;
    font-weight: 400;
    color: gray;

}