/*---------font--------
---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*------- common styles---------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    background: #2D25A0;
    height: 677px;
    width: 100%;
    margin-bottom: 70px;
}
header:hover img{
    transform: rotate(60deg);
    transition: transform  1s .1;
}

/*-------- navigation styles -------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    margin-left: 45px;
}

nav ul li{
    list-style: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 36px;
}

.login span{
    margin-right: 184px;
    margin-top: 42px;
}
.fa-sign-in-alt{
    margin-right: 10px;
}




/*--------- top banner styles ------------ */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.top-banner-info{
    margin-left: 120px;
}
.top-banner h1{
    font-size: 55px;
    font-weight: 700;
    color: #FFFFFF;

}


span{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
}
.top-banner img{
    width: 556.01px;
    height: 438px;
    margin-right: 141px;
}

/* --------- main section styles ----- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
 

   /*----------- top players styles-----------  */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    height: 474px;
    width: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;

}

.player-image img{
    width: 330px;
}

.player-name{
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
}
.player-info{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
}
/* -----------highlights styles-----------  */

.highlights-container{
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 1px 1px 15px lightgray;
    padding: 10px;
}

.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 69px;
}
.highlights-detail{
    height: 427px;
    width: 466px;
    padding-left: 40px;
}
.highlights-title{
    font-size: 38px;
    font-weight: 700;
}

.highlights-info{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
    color: #6C6C6C;
}
.fa-arrow-right{
    padding-left: 5px;
}
.highlights-detail span{
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
   
}

.highlights img{
    height: 427px;
    width: 567px;
}
hr{
    width: 1120px;
    
}

/*--------------- fifa containers styles---------------  */

.fifa-container h2{
    color: lightsalmon;
}

.section-heading{
    text-align: center;
}
.fifa-partners{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 60px;
}

/* ---------------------------------------
        favourite players styles
----------------------------------------  */
.favourite-player-container{
    margin-top: 75px;
    margin-bottom: 75px;
}

.favourite-player-container h1{
    color: hotpink;
}
.favourite-player-container .player img{
    height: 400px;
    width: 330px;

}

.section-title{
    text-align: center;
}

button{
    font-size: 18px;
    font-weight: 400;
    color: pink;
    background-color: #E02C6D;
    padding-top: 0;
    padding: 10px 25px;
    border: 1px solid gray;
    border-radius: 8px;
}

.player p{
    text-align: center;
}
button:hover{
    cursor: pointer;
}

/* -------------------footer styles---------------  */
footer{
    margin-top: 50px;
}

.footer-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.footer-image img{
    width: 483.87px;
}


.social-icon i{
    width: 32px;
    margin-left: 14px;
    color: #6C6C6C;
    
}

.copy-symbol{
    font-size: 18px;
    font-weight: 400;
    color: gray;

}

@media only screen and (max-width:668px) {
    
    header{
        background: #2D25A0;
        height: 740px;
        width: 100%;
        margin-bottom: 70px;
    }

    /*----- navigation styles------  */
    nav{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    nav ul{
        display: flex;
        margin-left: 1px;
    }

    nav ul li{
        list-style: none;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 500;
        padding: 0px;
        margin-right: 8px;
    }

    .login span{
        margin-right: 0px;
        margin-top: 0px;
    }
    /*------ top banner styles-------  */

    .top-banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .top-banner-info{
        margin-left: 0px;
        padding: 10px;
    }
    .top-banner h1{
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
    
    }
    .top-banner img{
        width: 100%;
        height: 438px;
        margin-right: 0px;
        margin-top: 30px;
    }
    /* ------top players styles --------- */
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 27px;
        text-align: center;
    }

    .player{
        height: 474px;
        width: 92%;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        padding: 15px;
    
    }

    .player-image img{
        width: 85%;
    }
    .player-name{
        color: #18191F;
        font-size: 18px;
        font-weight: 700;
    }
    /* -----------highlights styles-----------  */

    .highlights{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

.highlights-detail{
    height: 427px;
    width: 90%;
    padding-left: 0px;
}
.highlights-title{
    font-size: 18px;
    font-weight: 700;
}

.highlights-info{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
    color: #6C6C6C;
}
.fa-arrow-right{
    padding-left: 5px;
}

.highlights-detail span{
    background-color: #E02C6D;
    color: white;
    padding: 5px 5px;
   
}

.highlights img{
    height: 427px;
    width: 100%;
}
hr{
    width: 100%;
    
}

/*--------------- fifa containers styles---------------  */

.fifa-container h2{
    color: lightsalmon;
}

.section-heading{
    text-align: center;
}
.fifa-partners{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 100px;
}

.favourite-player-container h1{
    color: hotpink;
}
.favourite-player-container .player img{
    height: 400px;
    width: 100%;

}
/* -------footer styles ------ */

.footer-image img{
    width: 90%;
}

.footer-detail{
    box-shadow: 1px 1px 10px lightgray;
}


.social-icon i{
    width: 32px;
    margin-left: 20px;
    color: #6C6C6C;
    
}

.copy-symbol{
    font-size: 18px;
    font-weight: 400;
    color: gray;

}
    
}


















    
    


